pipeline/2_1_AcquisitionPriorityOrchestration.json
{
	"name": "2_1_AcquisitionPriorityOrchestration",
	"properties": {
		"activities": [
			{
				"name": "Log Acquisition Priority Orchestration Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Config].[usp_Loadlog]",
					"storedProcedureParameters": {
						"JobID": {
							"value": {
								"value": "@pipeline().parameters.JobID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"message": {
							"value": {
								"value": "@concat(pipeline().Pipeline, ' for JobId:',string(pipeline().parameters.JobID),' with Priority :',string(pipeline().parameters.Priority),' Started')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SRC_Metadata",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Batch Metadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log Acquisition Priority Orchestration Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT BatchNumber FROM Config.vwAcquisitionMetadata (NOLOCK) WHERE JobID = @{pipeline().parameters.JobID}  AND Priority = @{pipeline().parameters.Priority} AND [status]='Ready'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LS_SRC_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Acquisition Batch Orchestration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Batch Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Batch Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Acquisition Batch orchestration",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "2_2_AcquisitionBatchOrchestration",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"JobId": {
										"value": "@pipeline().parameters.JobID",
										"type": "Expression"
									},
									"BatchNumber": {
										"value": "@item().BatchNumber",
										"type": "Expression"
									},
									"MetadataServerName": {
										"value": "@pipeline().parameters.MetadataServerName",
										"type": "Expression"
									},
									"MetadataDatabaseName": {
										"value": "@pipeline().parameters.MetadataDatabaseName",
										"type": "Expression"
									},
									"Priority": {
										"value": "@pipeline().parameters.Priority",
										"type": "Expression"
									},
									"SQLDWHServerName": {
										"value": "@pipeline().parameters.SQLDWHServerName",
										"type": "Expression"
									},
									"SQLDWHDatabaseName": {
										"value": "@pipeline().parameters.SQLDWHDatabaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Log Acuisition Priority Orchestration End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach Acquisition Batch Orchestration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Config].[usp_Loadlog]",
					"storedProcedureParameters": {
						"JobID": {
							"value": {
								"value": "@pipeline().parameters.JobID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"message": {
							"value": {
								"value": "@concat(pipeline().Pipeline, ' for JobId:',string(pipeline().parameters.JobID),' with Priority :',string(pipeline().parameters.Priority),' StartedCompleted')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SRC_Metadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"JobId": {
				"type": "int"
			},
			"Priority": {
				"type": "int"
			},
			"MetadataServerName": {
				"type": "string"
			},
			"MetadataDatabaseName": {
				"type": "string"
			},
			"SQLDWHServerName": {
				"type": "string"
			},
			"SQLDWHDatabaseName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Framework/Template/2_AcquisitionOrchestration"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T10:40:56Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}